:root {
    display: flex;
}
.title {
    display: flex;
    align-items: center;
    justify-self: auto;
    justify-content: center;
    align-self: center;
    align-content: center;
}
.gridCell {
    min-height: 10px;
    background-color: teal;
    border: tomato solid;
}