:root {
    display: flex;
    background-color: black;
    color: white
}
.title {
    display: flex;
    align-items: center;
    justify-self: auto;
    justify-content: center;
    align-self: center;
    align-content: center;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.gridCell {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: teal;
    border: tomato solid;
}
[data-player = "1"] {
    color: aquamarine;
    text-align: center;
}
[data-player = "2"]{
    color: violet;
    text-align: center;
}