:root {
    background-color: black;
}
.navButtonList {
    padding: none;
}
.navLine {
    background-color: white;
    margin: 5px;
    padding: 2px;
    width: 30px;
    height: 3px;
}
.navLine:nth-child(1) { 
    /* IMPORTANT: This selector references the nth child of the navButtonList */
    margin-top: none;
}
#content {
    background-color: black;
}
