#landingPage {
    margin: 0;
    padding: 0;
    background-image: url(../../pictures/pho1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
html {
    margin: 0;
    padding: 0;
}

.navButtonList {
    padding: 20px;
    cursor: pointer;
}
.navLine {
    background: red;
    margin: 5px;
    padding: 2px;
    width: 30px;
    height: 3px;
}
.navLine:nth-child(1) { 
    /* IMPORTANT: This selector references the nth child of the navButtonList */
    margin-top: 0px;
}
#content {
    background-color: black;
}
