.navButtonContainer {
    
}
.navButtonList {
    padding: none;
    margin: none;
}
.navLine {
    background-color: black;
    padding: 15px;
    margin: 5px;
    width: 30px;
    height: 3px;
}
#content {
    background-color: black;
}
